.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
    color: black;
}

.actions {
    text-align: right;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #88dfdf;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
}

.actions button:hover, .actions button:active {
    background-color: #88dfdf;
    border-color: none;
    color: rgb(231, 218, 218);
}

.actions .button--alt {
    color: #88dfdf;
}

.actions .button {
    background-color: #88dfdf;
    color: white;
}