.header {
  width: 100%;
  height: 5rem;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #252424;
}

.logo {
  font-size: 2rem;
  color: white;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  /* margin-left: 1.5rem; */
  font-size: 1.25rem;
  margin-right: 2rem;
  margin-top: 0.25rem;
}

.nav a {
  text-decoration: none;
  color: #88dfdf;
}

.nav a:hover, .nav a:active, .nav a.active {
  color: #e6fcfc;
}

.logoutbutton {
  border: none;
  color: #88dfdf;
  padding: 0px !important;
}

.logoutbutton:hover {
  background-color: transparent;
  color: #e6fcfc;
}

.toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #88dfdf;
  border: none;
  padding: 0.15rem 1.5rem;
}

.toggle:hover {
  background-color: transparent;
  color: #c4e9e9;
}

.toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #88dfdf;
  border: none;
  padding: 0.15rem 1.5rem;
}

.toggle:hover {
  background-color: transparent;
  color: #c4e9e9;
}